a:link {color:#64b5f6;}
a:hover {color: white;}
 
 
a {text-decoration: none;}
 
i {
  color: rgb(255, 230, 0); 
  font-size: 20px;
  padding:10px;
}

.fa-whatsapp{
  color:#128C7E;
}
.fa-twitter{
color: #1DA1F2;
}
.fa-instagram{
  color:  #D43089;
}
.fa-facebook{
color:#1877f2;
}
